* {
    box-sizing: border-box;
}

body {
    background-color: rgb(55, 77, 69);
    margin: 0;
}

.grid {
    display: grid;
    width: 100%;
    background-color: rgb(231, 140, 22);
    grid-template: 100px 600px 1fr 200px/repeat(4, 25%);
    header {
        background-color: rgb(253 167 17);
        margin: 0;
        grid-row: 1 / 2;
        grid-column: 1 / span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            background-color: rgba(0, 255, 255, 0);
            padding: 0;
            width: 500px;
            justify-content: space-evenly;
            li {
                list-style-type: none;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.1em;
                }
                a:hover {
                    color: rgb(34, 29, 56);;
                }
            }
        }
    }

    #hero-section {
        grid-row: 2 / 3;
        grid-column: 1 / span 4;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: aliceblue;        //grid-row-start / grid-column-start / grid-row-end / grid-column-end
        background: {
            color: rgb(146, 89, 199);
            image: url("./images/bridge.png");
            size: cover;
            repeat: no-repeat;
            position: center;
            attachment: fixed;
        }
        .section-title {
            color: black;
            font: {
                size: 2rem;
                family: "Tahoma";
            }
        }
        p {
            color: rgb(255, 255, 255);
            font-weight: 700;
            background-color: black;
        }
    }
    #left-section {
        background-color: rgb(255, 255, 255);
        grid-row: 3 / 4;
        grid-column: 1 / span 3;
        .section-title {
            margin: 70px 0;
            text-align: center;
            font: {
                size: 2em;
            }
        }
        .gallery-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .photo-box {
                width: 250px;
                img {
                    width: 100%;
                }
            }
        }
    }
    #right-section {
        grid-row: 3 / 4;
        grid-column: 4 / span 1;
        background-color: rgb(34, 36, 36);
    }
    footer {
        background-color: aqua;
        grid-row: 4 / 5;
        grid-column: 1 / span 4;
    }
}