* {
    box-sizing: border-box;
}

main {
    background-color: beige;
    padding-top: 2%;
    text-align: center;
}
main h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
}
p {
    font-size: 0.9em;
}
#img-div {
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}
#image {
    width: 80%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
#img-caption {
    font-size: 0.9em;
}
#tribute-info {
    
    padding-top: 40px;
}
#tribute-info p {
    background-color: rgba(127, 255, 212, 0);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}
#tribute-info ul {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5; 
}
#tribute-info ul li {
    list-style-type: none;
}
table {
    text-align: center;
    background-color: rgba(203, 211, 208, 0);
    margin: 0 auto;
    margin-bottom: 40px;
    width: 500px;
}
table thead {
background-color: #ECECEC;
}